n8n/workflows/chatbot-processing-workflow-01.json
{
  "name": "chatbot-processing-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-process",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "39fad774-c978-4056-a16b-052cb14cae11",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "alpine-peak-chatbot"
    },
    {
      "parameters": {
        "functionCode": "// Extract and validate chat message data\nfor (const item of $input.all()) {\n  const inputData = item.json;\n  \n  // Validate required fields\n  if (!inputData.message) {\n    throw new Error('Message is required');\n  }\n  \n  // Extract context and user data\n  const chatData = {\n    message: inputData.message,\n    session_id: inputData.session_id || `session_${Date.now()}`,\n    page_context: inputData.page_context || 'website',\n    user_data: inputData.user_data || {},\n    timestamp: new Date().toISOString(),\n    ip_address: 'unknown'\n  };\n  \n  // Determine message intent\n  const message = inputData.message.toLowerCase();\n  let intent = 'general';\n  let priority = 'normal';\n  \n  // Intent classification\n  if (message.includes('estimate') || message.includes('quote') || message.includes('price')) {\n    intent = 'estimation_request';\n    priority = 'high';\n  } else if (message.includes('emergency') || message.includes('urgent') || message.includes('leak')) {\n    intent = 'emergency';\n    priority = 'urgent';\n  } else if (message.includes('schedule') || message.includes('appointment') || message.includes('inspection')) {\n    intent = 'scheduling';\n    priority = 'high';\n  } else if (message.includes('material') || message.includes('shingle') || message.includes('warranty')) {\n    intent = 'product_inquiry';\n    priority = 'normal';\n  } else if (message.includes('contact') || message.includes('phone') || message.includes('email')) {\n    intent = 'contact_info';\n    priority = 'normal';\n  }\n  \n  // Add classification to data\n  chatData.intent = intent;\n  chatData.priority = priority;\n  \n  return { json: chatData };\n}"
      },
      "id": "b4dc6996-2f54-491e-97be-e0687dd9b056",
      "name": "Message Processing",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "maxTokens": 300,
          "temperature": 0.7
        },
        "requestOptions": {}
      },
      "id": "6f7947b8-6cad-406e-8303-6c833f112f01",
      "name": "OpenAI Response",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Simple response formatting\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  let responseMessage = 'Thank you for your message. We will get back to you soon.';\n  \n  // Try to get AI response\n  if (data.choices && data.choices[0] && data.choices[0].message) {\n    responseMessage = data.choices[0].message.content;\n  } else if (data.message) {\n    responseMessage = data.message;\n  }\n  \n  const result = {\n    success: true,\n    message: responseMessage,\n    timestamp: new Date().toISOString()\n  };\n  \n  return { json: result };\n}"
      },
      "id": "05f362bf-ded3-4b5a-b078-dd054b668c4c",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "16420381-a6df-4eef-99c0-a4554dd3b05b",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Message Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Processing": {
      "main": [
        [
          {
            "node": "OpenAI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Response": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13d9fc1a-0251-418b-ad3b-cc0c35b1e202",
  "meta": {
    "instanceId": "62eb072701814b1a1a9c022b7a751c5f8dac0a37a5a414c436048bc8706d2f6f"
  },
  "id": "Shl9c814VtIiKKKi",
  "tags": []
}